<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Comp View - {{ title }}</title>
    {% else %}
        <title>Comp View</title>
    {% endif %}
</head>
<body>
    {% for comp in competitions %}
        <h1>{{ comp.name }}</h1>
        <p>
            State: {{ comp.state }}<br />
            Date: {{ comp.date }}<br />
            <ol>
                {% for team_name in comp.teams %}
                    <li>{{ team_name }}</li>
                {% endfor %}
            </ol>
        </p>

    {% endfor %}
</body>
</html>
